.cart {
  position: absolute;
  right: 20px;
  top: 80px;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;

  transition: all 0.2s linear;
}

.open {
  opacity: 1;
  pointer-events: all;
}

.hovering {
  background-color: #9a9a9a;
}
