.button {
  font-size: 1rem;
  color: #ffffff;

  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0.7rem;

  background-color: #2ba756;
}

.button:hover {
  background-color: #177437;
}
